<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <h1>Sherlock sample application</h1>

    <textarea id = "textToAnalyze" name="text" rows = "3"cols = "80"></textarea></br>
    <button onclick="processText()">Click Me!</button>

    <h2>Result</h2>
    <div id="error_message"></div>
    <h3>People</h3>
    <div id="result_people"></div>
    <h3>Facts</h3>
    <div id="result_fact"></div>
</body>
</html>